* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: #EDEDED;
  font-family: "Asap Condensed", sans-serif;
  color: #171717;
}
body a {
  text-decoration: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  text-decoration: none;
}
header #logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 20%;
  font-family: "Caveat", cursive;
  align-items: center;
}
header #logo h1 a {
  font-weight: 400;
}
header nav {
  width: 30%;
}
header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
  color: #171717;
  transition: 0.2s ease-in;
}
header li a:hover {
  color: #DA0037;
}

#background {
  width: 100%;
  height: 600px;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
}
#background .overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(23, 23, 23, 0.5);
}
#background .overlay .box-background {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  color: #EDEDED;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 250px;
  left: 80px;
  color: #EDEDED;
}
#background .overlay .box-background h1 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 48px;
}
#background .overlay .box-background h2 {
  font-weight: 400;
  font-style: italic;
  margin-bottom: 25px;
}
#background .overlay .box-background button {
  background-color: transparent;
  padding: 13px 40px;
  border: 1px #EDEDED solid;
  border-radius: 5px;
  transition: 0.3s ease-in;
}
#background .overlay .box-background button a {
  color: #d3d3d3;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
#background .overlay .box-background button:hover {
  background-color: #DA0037;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.title p {
  font-size: 38px;
  font-weight: 600;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
}
.box .minibox {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.box .minibox p {
  font-size: 20px;
}
.box .minibox-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  align-content: center;
}
.box .minibox-photo img {
  width: inherit;
  border-radius: 10px;
  border: 2px #171717 solid;
}

.col {
  width: 375px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  transition: 0.2s ease-in-out;
  font-weight: 300;
}
.col i {
  font-size: 156px;
}
.col h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.col p {
  margin: 0px 20px;
  font-size: 18px;
  text-align: justify;
}

.col:hover {
  background-color: #DA0037;
  scale: 1.14;
}

.second {
  background-color: #171717;
  color: #EDEDED;
  justify-content: space-around;
}

.siteprev {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.siteprev img {
  width: 100%;
  border-radius: 5px;
  border: 1px #171717 solid;
  transition: 0.4s ease-in;
  filter: grayscale(1);
}
.siteprev img:hover {
  scale: 1.1;
  filter: grayscale(0);
}
.siteprev p {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

.third {
  justify-content: space-around;
}

.textbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
  color: #EDEDED;
  width: 30%;
}

input {
  padding: 10px 5px;
  margin-bottom: 15px;
  color: #171717;
  border-radius: 5px;
  font-family: "Asap Condensed", sans-serif;
}

textarea {
  padding: 7px 5px;
  height: 100px;
  font-family: "Asap Condensed", sans-serif;
}

input#submit {
  background-color: transparent;
  padding: 13px 40px;
  border: 1px #EDEDED solid;
  border-radius: 5px;
  transition: 0.3s ease-in;
  color: #EDEDED;
  margin-top: 20px;
  font-size: 16px;
}
input#submit a {
  color: #d3d3d3;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

input#submit:hover {
  background-color: #DA0037;
  cursor: pointer;
}

form {
  width: 30%;
  margin: 25px 0px;
}

.fourth {
  background-color: #171717;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #DA0037;
  align-items: center;
  height: 60px;
}
footer i {
  font-size: 32px;
  margin: 0px 10px;
}
footer a {
  text-decoration: none;
  color: #EDEDED;
}
footer #footer-center {
  font-size: 32px;
  font-family: "Caveat", cursive;
  margin-left: 15px;
}
footer #f-right {
  margin-right: 15px;
}/*# sourceMappingURL=style.css.map */