* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #EDEDED;
  font-family: "Asap Condensed", sans-serif;
  color: #171717;
}
body a {
  text-decoration: none;
}
body ul {
  list-style-type: none;
  margin-top: 8px;
}

.center-block {
  width: 80%;
  margin: 0px auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

header ul li a {
  margin-left: 35px;
  font-size: 20px;
  text-transform: uppercase;
  color: #171717;
  transition: 0.2s ease-in;
}
header ul li {
  text-align: center;
}
header #logo a {
  color: #171717;
}
header h1 {
  font-weight: 400;
  font-family: "Caveat", cursive;
}
header li a:hover {
  color: #DA0037;
}

.dg-margina {
  margin-top: 10px;
  margin-bottom: 10px;
}

#background {
  background-image: url(../../assets/img/bg.jpg);
  background-size: cover;
  height: 600px;
  background-position: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: inherit;
}

.ai-center {
  align-items: center;
}

.jcenter {
  justify-content: center;
}

.box-pozadina {
  width: 50%;
  text-align: center;
  color: #EDEDED;
}
.box-pozadina h1 {
  margin-bottom: 15px;
  font-size: 42px;
}
.box-pozadina h2 {
  font-size: 24px;
}
.box-pozadina button {
  background-color: transparent;
  padding: 15px 40px;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  margin-top: 40px;
  transition: 0.3s ease-in;
}
.box-pozadina button a {
  color: #d3d3d3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.box-pozadina button:hover {
  background-color: #DA0037;
  transform: scale(1.1);
}

.box-prvi {
  width: 70%;
  padding: 50px 0;
}

.minibox {
  width: 55%;
}
.minibox h3 {
  font-size: 28px;
  margin-bottom: 25px;
}
.minibox p {
  font-size: 20px;
}

.space-around {
  justify-content: space-around;
}

.minibox-slika {
  width: 25%;
}
.minibox-slika img {
  width: 100%;
  border-radius: 20px;
}

.naslov {
  margin: 40px 0;
  font-weight: bolder;
  font-size: 28px;
}

.drugi {
  background-color: #171717;
  color: #EDEDED;
}

.trikolon {
  width: 30%;
  text-align: center;
  padding: 80px 0;
  transition: 0.2s ease-in-out;
}
.trikolon i {
  font-size: 156px;
}
.trikolon h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.trikolon p {
  margin: 0px 10px;
}

.trikolon:hover {
  background-color: #DA0037;
}

footer {
  background-color: #DA0037;
  color: #EDEDED;
}
footer ul {
  display: inline-block;
}
footer ul a {
  text-decoration: none;
  color: #EDEDED;
}
footer ul li {
  margin: 20px 25px;
}

#logo-footer {
  font-family: "Caveat", cursive;
}
#logo-footer a {
  color: #EDEDED;
}

#footer-desno {
  font-size: 32px;
  display: block;
  margin: 20px 60px;
}
#footer-desno i {
  margin-left: 20px;
}
#footer-desno a {
  color: #EDEDED;
}

.sajtprev {
  width: 30%;
  margin-bottom: 50px;
  text-align: center;
}
.sajtprev img {
  width: 100%;
  border-radius: 5px;
  border: 1px #171717 solid;
  transition: 0.4s ease-in;
  -webkit-filter: grayscale(1);
}
.sajtprev img:hover {
  scale: 1.1;
  -webkit-filter: grayscale(0);
}
.sajtprev h3 {
  margin-top: 20px;
  font-size: 24px;
}

.textbox {
  display: block;
}

.width {
  width: 40%;
}

.textbox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
  color: #EDEDED;
}

input {
  padding: 10px 5px;
  margin-bottom: 15px;
  color: #171717;
  border-radius: 5px;
}

textarea {
  padding: 10px 5px;
  height: 100px;
}

form {
  width: 100%;
  margin: 80px 0px;
}

.data p {
  font-size: 24px;
  margin: 50px 150px;
}

.box-treci {
  background-color: #171717;
}

input[type=submit] {
  background-color: #DA0037;
  color: #EDEDED;
  padding: 10px 30px;
  border: 2px #444444 solid;
  border-radius: 4px;
  margin-top: 15px;
  font-family: "Asap Condensed", sans-serif;
  font-size: 16px;
  transition: 0.2s ease;
}

input[type=submit]:hover {
  border: 2px #EDEDED solid;
}
@media screen and (max-width: 1025px) {
    .minibox-slika{
        width: 40%;
        margin-top: 40px
       
    }
    .minibox{
        width: 50%;
    }
    .width{
        width: 60%;
    }
}
@media screen and (max-width: 769px){
    .box-prvi{
        width: 90%;
    }
    .center-block{
        width: 95%;
    }
    .sajtprev{
        width: 40%;
    }
    #footer-desno{
        margin:10px 10px

        
    }
}
@media screen and (max-width:426px) {
    
    #background{
        height: 400px;
    }
    .box-pozadina{
        width: 80%;
    }
    .box-prvi{
        padding: 0;
        flex-direction: column;
    }
    .minibox {
        width: 90%;
        text-align: center;
        margin: 0px auto;
    }
    .minibox-slika{
        width: 60%;
        margin: 20px auto;
    }
    .fd{
        flex-direction: column;
    }
    .trikolon{
        width: 90%;
        margin: 0px auto;
        padding: 20px 0;
    }
    .sajtprev{
        width: 70%;
    }
    .jcenter2{
        justify-content: center;
    }
    #footer-desno{
        text-align: center;
    }
    #footer-desno i{
        margin: 10px 20px;
    }
    #logo{
        justify-content: center;
    }
    header ul li a{
        margin: 0px 20px;
    }
    
    footer ul li{
        margin: 20px 10px;
    }
    footer ul li a {
        font-size: 20px;
    }
}
@media screen and (max-width: 376px) {
    header ul li a{
        margin: 0px 18px;
    }
    .box-pozadina button{
        padding: 20px 40px;
    }
    .minibox-slika{
        width: 70%;
    }
    .sajtprev{
        width: 80%;
    }
}
@media screen and (max-width: 321px){
#footer-desno i {
    margin: 20px 40px;
}
body ul{
    margin-top: 20px;
}
}