*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
$font1: 'Asap Condensed', sans-serif; 
$font2: 'Caveat', cursive;
$boja1: #EDEDED;
$boja2: #444444;
$boja3: #171717;
$boja4: #DA0037;

@mixin d-flex{
    display: flex;
    flex-wrap: wrap;
}
@mixin button{
    background-color: transparent;
    padding: 13px 40px;
    border: 1px $boja1 solid;
    border-radius: 5px;
    transition: 0.3s ease-in;
        a{
            color: #d3d3d3;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
        }
}
body{
    background-color: $boja1;
    font-family: $font1;
    color: $boja3;
    a{
        text-decoration: none;
    }
}
header{
    @include d-flex();
    width: 100%;
    height:50px;
    justify-content: space-between;
    text-decoration: none;
    #logo{
        @include d-flex();
        justify-content: center;
        width: 20%;
        font-family: $font2;
        align-items: center;
        h1 a{
            font-weight: 400;
        }
    }
        nav{
            width: 30%
        }   
        ul{
            @include d-flex();
            justify-content: space-around;
            list-style: none;
            margin-top: 15px;
            font-size: 20px;
            text-transform: uppercase;
        }
        a{
            text-decoration: none;
            color: $boja3;
            transition: 0.2s ease-in;
        }
        
        li a:hover{
            color: $boja4;
        }
    
}
#background{
    width: 100%;
    height: 600px;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    .overlay{
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba($color: $boja3, $alpha: 0.5);
        .box-background{
            @include d-flex();
            flex-direction: column;
            width: 50%;
            color: $boja1;
            text-align: center;
            align-items: center;
            position: absolute;
            top: 250px;
            left: 80px;
            color: $boja1;
            h1{
                font-weight: 600;
                margin-bottom: 10px;
                font-size: 48px;
            }
            h2{
                font-weight: 400;
                font-style: italic;
                margin-bottom: 25px;
            }
            
            button{
                @include button();
                
            }
            button:hover{
                background-color: $boja4;
            }
        }
    }
}
.title{
    @include d-flex();
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    p{
        font-size: 38px;
        font-weight: 600;
    }
}
.box{
    @include d-flex();
    justify-content: center;
    padding: 30px 0;
    .minibox{
        @include d-flex();
        width: 30%;
        align-items: center;
        justify-content: center;
        text-align: justify;
        
        
        p{
            font-size: 20px
        }
        
    }
    .minibox-photo{
        @include d-flex();
        justify-content: center;
        width: 40%;
        align-content: center;
        img{
            width: inherit;
            border-radius: 10px;
            border: 2px $boja3 solid;
            
        }
        
    }
}
.col {
    width: 375px;
    text-align: center;
    padding-top:40px;
    padding-bottom: 60px;
    transition: 0.2s ease-in-out;
    font-weight: 300;
    i{
        font-size: 156px;
       
    }
    h3{
        font-size: 24px;
        margin-bottom: 20px;
    }
    p{
        margin: 0px 20px;
        font-size: 18px;
        text-align: justify;
    }
}
.col:hover{
    background-color: $boja4;
    scale: 1.14;
}
.second{
    background-color: $boja3;
    color: $boja1;
    justify-content: space-around;
}
.siteprev{
    width: 450px;
    @include d-flex();
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
        border-radius: 5px;
        border: 1px $boja3 solid;
        transition: 0.4s ease-in;
        filter: grayscale(1);
        
       
    }
    img:hover{
        scale: 1.1;
        filter: grayscale(0);
    }
    p{
        margin-top: 20px;
        font-size: 18px;
        margin-bottom: 10px;
    }
}
.third{
    justify-content: space-around;
}
.textbox{
    @include d-flex();
    justify-content: center;
    flex-direction: column;
    width: 100%;
} 
    label{
        font-size: 20px;
        margin-bottom: 10px;
        color: $boja1;
        width: 30%;
        
    }
    input{
        padding: 10px 5px;
        margin-bottom: 15px;
        color: $boja3;
        border-radius: 5px;
        font-family: $font1;
        
    }
    textarea{
        padding: 7px 5px;
        height: 100px;
        font-family: $font1;
    }
    input#submit{
        @include button();
        color: $boja1;
        margin-top: 20px;
        font-size: 16px;
        
    }
    input#submit:hover{
        background-color: $boja4;
        cursor: pointer;
    }
    

form{
    width: 30%;
    margin: 25px 0px;
}
.fourth{
    background-color: $boja3;
}
footer{
    @include d-flex();
    justify-content: space-between;
    background-color: $boja4;
    align-items: center;
    height: 60px;
    i{
        font-size: 32px;
        margin: 0px 10px;
    }
    a{
        text-decoration: none;
        color: $boja1;
    }
    #footer-center{
        font-size: 32px;
        font-family: $font2;
        margin-left: 15px;
    }
    #f-right{
        margin-right: 15px;
    }
    
    
   
}
